.cardItem {
  display: flex;
  flex-direction: row;
  border: 1px solid;
  border-radius: 10px;
  background-color: #fff;
  width: 1000px;
  justify-content: space-evenly;
}

.cardItem-image {
  max-width: 100px;
  max-height: 100px;
  border-radius: 10px;
}

.cardItem-name {
  margin: 10px;
}

.cardItem-quantity {
  text-align: center;
}

.cardItem-price {
  text-align: center;
}

.cardItem-totalPrice {
  text-align: center;
}

.cardItem-changeQuantity {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cardItem-changeQuantity-title {
  margin: 0;
}

.cardItem-changeQuantity-buttons {
  cursor: pointer;
  width: 30px;
  margin: 0 5px;
  border-radius: 10px;
  border: 1px solid #6b8e23;
  background-color: rgba(246, 250, 244, 0.842);
}

.cardItem-changeQuantity-AddToCart {
  width: 120px;
  height: 35px;
  cursor: pointer;
  margin: 5px 0;
}

.cardItem-removeItem {
  width: 100px;
  height: 50px;
  align-self: center;
  cursor: pointer;
}
